# Build and dependency artifacts
dist/
node_modules/

# OpenAPI generator artifacts
client/.openapi-generator/
client/package-lock.json
client/.openapi-generator-ignore
client/docs/
client/git_push.sh
*.log

# npm artifacts
.npmrc
.npmignore

# Download files
openapi.json
