# 🚌 Open Bus API Client

A TypeScript client library for interacting with the Open-Bus API.

## 🔗 Links

- [📦 NPM Package](#)
- [🌐 Client](https://github.com/hasadna/open-bus-map-search/)
- [💻 API Server](https://github.com/hasadna/open-bus-stride-api)
- [📁 Generated Client](https://github.com/hasadna/open-bus-api-client/tree/main/client)
- [💬 Slack](https://join.slack.com/t/hasadna/shared_invite/zt-167h764cg-J18ZcY1odoitq978IyMMig)

## 📦 Installation

```bash
npm install {{npmName}}
````

## 🔧 Usage

```ts
import { Client } from "{{npmName}}";

const client = new Client();

const stops = await client.getBusStops(...);

console.log(stops);
```
